.Home {
  background-image: linear-gradient(
      to right,
      rgb(255, 255, 255),
      rgba(255, 0, 191, 0)
    ),
    url("../../assets/home top thumb.webp");
  background-size: cover;
  background-position: top;
}

.Subscription {
  background-image: linear-gradient(
      to right,
      rgb(255, 255, 255),
      rgba(255, 0, 191, 0)
    ),
    url("../../assets/home top thumb.webp");
  background-size: cover;
}

.ChannelList {
  background-image: linear-gradient(
      to right,
      rgb(255, 255, 255),
      rgba(255, 0, 191, 0)
    ),
    url("../../assets/call center.jpg");
  background-size: cover;
}

.ContactUs {
  background-image: linear-gradient(
      to right,
      rgb(255, 255, 255),
      rgba(255, 0, 191, 0)
    ),
    url("../../assets/home top thumb.webp");
  background-size: cover;
}

.FAQ {
  background-image: linear-gradient(
      to right,
      rgb(255, 255, 255),
      rgba(255, 0, 191, 0)
    ),
    url("../../assets/call center.jpg");
  background-size: cover;
}

/* =======================>> Mobile Responsive <<======================== */
@media only screen and (max-width: 600px) {
  .Home {
    background-size: auto;
    background-position: top;
  }
}
