.ipHomeCont {
  background-image: linear-gradient(
      to right,
      rgb(255, 255, 255),
      rgba(255, 0, 191, 0)
    ),
    url("../../../assets//call center.jpg");
  background-size: cover;
  background-position: center;
  height: 80vh;
}
